name: Package

on:
  workflow_call:

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 25.x
      - run: npm ci
      - run: npm run build --if-present
      - run: npx @vscode/vsce package
      - uses: actions/upload-artifact@v6
        with:
          name: vscode-extension-package
          path: "*.vsix"
