name: GitHub Release

on:
  workflow_run:
    workflows: ["Package"]
    types:
      - completed

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: vscode-extension-package
          path: dist/
      - uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/*.vsix
          asset_name: my-extension.vsix
          asset_content_type: application/vsix
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
